<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="CoreLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoreLoader.Properties.Settings>
            <setting name="dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbExe" serializeAs="String">
                <value />
            </setting>
            <setting name="dbWindow" serializeAs="String">
                <value />
            </setting>
            <setting name="mailName" serializeAs="String">
                <value />
            </setting>
            <setting name="mailExe" serializeAs="String">
                <value />
            </setting>
            <setting name="mailWindow" serializeAs="String">
                <value />
            </setting>
            <setting name="webName" serializeAs="String">
                <value />
            </setting>
            <setting name="webExe" serializeAs="String">
                <value />
            </setting>
            <setting name="webWindow" serializeAs="String">
                <value />
            </setting>
        </CoreLoader.Properties.Settings>
    </userSettings>
</configuration>