// Body
$body-bg: #f8fafc;

// Typography
$sriracha: 'Sriracha', 'cursive';
$quicksand: 'Quicksand', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$dark-blue: #4C4CFF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #EC2424;
$deepred: #FE1111;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$darkness: #000;
$lightness: #fff;
$honeycomb: #ffd61d;