/node_modules
/updates
/_node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/status
/forum
/support
.env
sociocon-key.pem
sociocon.pem
crt
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log